<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rafael Martin Mariano | Web Developer Portfolio</title>

    <link rel="shortcut icon" type="image/png" href="assets/my_icon.png">

    <meta name="description"
        content="Explore Rafael Mariano's portfolio. Full-stack web developer specializing in Laravel, tailwind CSS, and Statamic CMS.">

    <!-- Canonical URL -->
    <link rel="canonical" href="https://rafaelmartinmariano.github.io/portfolio_live/" />

    <!-- Open Graph Meta -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Rafael Martin Mariano | Web Developer Portfolio">
    <meta property="og:description"
        content="Full-stack web developer specializing in Laravel, React JS, and Statamic CMS.">
    <meta property="og:url" content="https://rafaelmartinmariano.github.io/portfolio_live/">
    <meta property="og:image" content="https://rafaelmartinmariano.github.io/portfolio_live/assets/profile_picture.jpg">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Rafael Mariano | Web Developer Portfolio">
    <meta name="twitter:description"
        content="Explore my latest projects and skills in Laravel, React, Statamic, and more.">
    <meta name="twitter:image" content="https://rafaelmartinmariano.github.io/portfolio_live/assets/profile_picture.jpg">

    <!-- Robots -->
    <meta name="robots" content="index, follow">

      <!-- Schema.org JSON-LD -->
  <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Rafael Martin Mariano",
        "url": "https://rafaelmartinmariano.github.io/portfolio_live/",
        "logo": "https://rafaelmartinmariano.github.io/portfolio_live/assets/my_icon.png"
        "image": "https://rafaelmartinmariano.github.io/portfolio_live/assets/profile_picture.jpg",
        "jobTitle": "Web Developer",
        "description": "Full-stack web developer based in the Philippines, working with Laravel, React, Tailwind, and Statamic CMS.",
        "sameAs": [
        "https://github.com/rafaelmartinmariano"
        ],
        "worksFor": {
        "@type": "Organization",
        "name": "Freelance"
        },
        "address": {
        "@type": "PostalAddress",
        "addressLocality": "San Jose del Monte",
        "addressRegion": "Bulacan",
        "addressCountry": "PH"
        }
    }
    </script>


    {{ vite src="resources/js/site.js|resources/css/site.css" }}
</head>

<!--<body class="bg-gradient-to-bl from-[#ffe4e6]  to-[#ccfbf1]">-->

<body class="bg-black cursor-default">
    <div class="mb-15">
        {{ partial:main_nav }}
    </div>

    {{ template_content }}

    <div>
        {{ partial:footer }}
    </div>
</body>

</html>