<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rafael Martin Mariano | Web Developer Portfolio</title>
    <meta name="description"
        content="Explore Rafael Mariano's portfolio. Full-stack web developer specializing in Laravel, tailwind CSS, and Statamic CMS.">

    <!-- Canonical URL -->
    <link rel="canonical" href="https://rafaelmartinmariano.github.io/portfolio_live/" />

    <!-- Open Graph Meta -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Rafael Mariano | Web Developer Portfolio">
    <meta property="og:description"
        content="Full-stack web developer specializing in Laravel, React JS, and Statamic CMS.">
    <meta property="og:url" content="https://rafaelmartinmariano.github.io/portfolio_live/">
    <meta property="og:image" content="https://rafaelmartinmariano.github.io/portfolio_live/images/preview.jpg">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Rafael Mariano | Web Developer Portfolio">
    <meta name="twitter:description"
        content="Explore my latest projects and skills in Laravel, React, Statamic, and more.">
    <meta name="twitter:image" content="https://rafaelmartinmariano.github.io/portfolio_live/images/preview.jpg">

    <!-- Robots -->
    <meta name="robots" content="index, follow">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">


    {{ vite src="resources/js/site.js|resources/css/site.css" }}
</head>

<!--<body class="bg-gradient-to-bl from-[#ffe4e6]  to-[#ccfbf1]">-->

<body class="bg-black cursor-default">
    <div class="mb-15">
        {{ partial:main_nav }}
    </div>

    {{ template_content }}

    <div>
        {{ partial:footer }}
    </div>
</body>

</html>