<div class="container mx-auto max-w-[1320px] px-5 md:px-10 xl:px-5">

    <!-- section 1 -->
    {{ section_1 }}
    <div id="about" class="py-24 md:py-28 xl:py-32 text-center">
        <h1 class="text-stroke text-7xl md:text-8xl lg:text-9xl xl:text-10xl font-bold stroke-text my-scale-105"
            style="-webkit-text-stroke: 3px white;font-family: 'Outfit', sans-serif;">

            {{ name }}

        </h1>
    </div>
    <div class="lg:flex space-y-8 lg:space-y-0">
        <div class="w-full overflow-hidden lg:w-1/3 lg:order-2 text-center rounded-full aspect-square">
            <!-- Your Image -->
            {{ your_picture }}
            <img class="inline-block" src="{{ url }}" alt="">
            {{ /your_picture }}
        </div>
        <div class="w-full lg:w-1/3 lg:order-1 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-1 gap-6 lg:gap-8">
            <div>
                <h6 class="font-outfit font-medium tracking-wider uppercase text-sm text-white mb-2">Biography</h6>
                <p class="text-white/70 leading-[1.75] my-scale-105">
                    {{ biography }}
                </p>
            </div>
            <div>
                <h6 class="font-outfit font-medium tracking-wider uppercase text-sm text-white mb-2">Skills</h6>
                <ul class="text-white/70 my-scale-105">
                    {{ skills }}
                    <li
                        class="list-none inline-block relative pl-[14px] pr-[4px] before:content-[''] before:absolute before:left-0 before:top-1/2 before:-translate-y-1/2 before:w-[5px] before:h-[5px] before:rounded-md before:bg-white/80">
                        {{ skill_name }}</li>
                    {{ /skills }}
                </ul>
            </div>
            <div>
                <h6 class="font-outfit font-medium tracking-wider uppercase text-sm text-white mb-2">Connect</h6>
                <ul class="space-x-1">
                    {{ connect }}
                    <li class="list-none inline-block">
                        <a class="inline-block group w-[44px] h-[44px] rounded-full bg-white/15 text-white relative z-[1] overflow-hidden before:content-[''] before:absolute before:-z-[1] before:left-0 before:top-0 before:w-full before:h-full before:bg-themeGradient before:opacity-0 hover:before:opacity-20 before:transition-all before:ease-linear before:duration-100"
                            href="{{ if connect_link:url}} {{ connect_link:url}} {{ else }} # {{ /if }}">
                            <img src="{{ connect_icon:url }}"
                                class="bi bi-facebook absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all ease-out duration-200 group-hover:top-0 group-hover:invisible group-hover:opacity-0"></i>
                            <img src="{{ connect_icon:url }}"
                                class="bi bi-facebook absolute top-full left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all ease-out duration-200 invisible opacity-0 group-hover:top-1/2 group-hover:visible group-hover:opacity-100"></i>
                        </a>
                    </li>
                    {{ /connect }}
                </ul>
            </div>
        </div>
        <div class="w-full lg:w-1/3 order-3 grid grid-cols-3 lg:grid-cols-1 gap-6 lg:gap-7 lg:text-right">
            <div class="my-scale-105">
                <h6 class="font-outfit font-medium tracking-wider uppercase text-sm text-white mb-2">Years of
                    Experience</h6>
                <span class="text-4xl lg:text-5xl xl:text-6xl font-outfit font-light text-white">{{ years_of_experience }}</span>
            </div>

            <div class="my-scale-105">
                <h6 class="font-outfit font-medium tracking-wider uppercase text-sm text-white mb-2">Personal Projects
                </h6>
                <span class="text-4xl lg:text-5xl xl:text-6xl font-outfit font-light text-white">{{ personal_projects }}</span>
            </div>
            
            <div class="my-scale-105">
                <h6 class="font-outfit font-medium tracking-wider uppercase text-sm text-white mb-2">Tech Stacks & Tools</h6>
                <span class="text-4xl lg:text-5xl xl:text-6xl font-outfit font-light text-white">{{ tech_stacks }}</span>
            </div>
        </div>
    </div>
    {{ /section_1 }}
    <!-- /section 1 -->


    <!-- section 2 -->
    <div id="services" class="w-full lg:flex py-24 xl:py-28 space-y-6 lg:space-y-0">
        <div class="w-full lg:w-1/3 my-scale-105">
            <h2 class="font-outfit font-medium text-4xl md:text-5xl lg:text-6xl text-white mt-2">What I Do</h2>
        </div>
        <div class="w-full lg:w-2/3 space-y-6">
            {{ services }}
            <div class="p-8 md:flex md:items-center bg-darkBg rounded-lg relative overflow-hidden
                    my-scale-105
                    bg-gradient-to-bl from-transparent via-transparent to-purple-500/50 bg-gray-900
                    my-theme-gradient">
                <div class="md:w-[40%] text-white mb-2">
                    <h3 class="inline-flex font-outfit font-medium text-2xl xl:text-3xl">{{your_service}}</h3>
                </div>
                <div class="md:w-[55%]">
                    <p class="text-white/70">{{description}}</p>
                </div>
            </div>
            {{ /services }}
        </div>
    </div>
    <!-- /section 2 -->

<div id="Seminars" class="py-10 xl:py-20 text-center">
    <div class="container mx-auto max-w-[1320px] px-5 md:px-10 xl:px-5">
        <h2 class="my-scale-105 font-medium text-4xl md:text-5xl lg:text-6xl text-white mt-2">Seminars & Workshops Attended</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 mt-14">
            {{ seminars }}
            <div class="bg-gradient-to-bl from-transparent via-transparent to-purple-500/40 bg-gray-900
            my-scale-105
            my-theme-gradient
            p-6 space-y-4 rounded-lg bg-darkBg relative overflow-hidden text-left">
                <h3 class="text-white font-outfit text-2xl font-medium">{{name}}</h3>
                <p class="text-white/70">Hosted By: {{hosted_by}}</p>
                <p class="text-white/70">Hosted At: {{hosted_at}}</p>
                <span class="inline-block font-outfit font-medium uppercase text-sm text-white/40">
                    {{date}}
                </span>
            </div>
            {{ /seminars }}
        </div>
    </div>
</div>

<!-- Contact-->
<div class="flex flex-col sm:flex-row w-full">
    {{ contact }}
    <div class="my-scale-105 sm:text-center text-6xl sm:text-4xl md:text-4xl lg:text-6xl xl:text-7xl font-bold text-white sm:w-3/10 text-white">
        {{ title }}
    </div>
    <div class="flex flex-col md:flex-row w-full text-white sm:w-7/10">
        <div class="my-scale-105 prose prose-invert sm:w-full md:w-1/2 p-3">
            {{email}}
        </div>
        <div class="my-scale-105 prose prose-invert sm:w-full md:w-1/2 p-3">
            {{call}}
        </div>
    </div>
    {{ /contact }}
</div>